:root {
  --color-red: #e31f24;
  --color-black: #000;
  --color-dark: #333333;
  --color-dark-rgba: #0000001a;
  --color-white: #ffffff;
  --color-white-50: #e9ecef;
  --color-white-100: #fdfdfd;
  --color-white-150: #dededd;
  --color-white-200: #e0e0e0;
  --color-white-250: #76787d;
}
