.user {
  cursor: pointer;
  text-decoration: none;
  display: block;

  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px var(--color-dark-rgba);
  margin-bottom: 18px;
  overflow: hidden;
  transition: background-color 0.3s;

  &_active {
    background-color: var(--color-white-200);
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__image {
    min-width: 70px;
    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    img {
      object-fit: cover;
      max-width: 100%;
    }
  }

  &__text {
    padding: 15px;
    width: calc(100% - 70px);
    word-wrap: break-word;
    border-left: 1px solid var(--color-white-200);
  }

  &__name {
    font-weight: 600;

    color: var(--color-dark);
    margin-bottom: 5px;
  }

  &__email {
    color: var(--color-white-250);
  }
}
